/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --cor-principal: #003366; /* Azul escuro */
    --cor-secundaria: #ff9900; /* Laranja */
    --cor-texto: #ffffff; /* Branco */
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
